/* CSS for button styling */
/*버튼 스타일을 지정한 코드*/
  .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
 .button:hover {
  background-color: #99ffcc; /* Change background color on hover */
  cursor: pointer; /* Change cursor style on hover */
}
.vertical-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*호스팅 페이지로 가는 버튼을 보여주는 코드*/
.hostingpagebutton{
   display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hostingpagebutton:hover {
  background-color: #99ffcc; /* Change background color on hover */
  cursor: pointer; /* Change cursor style on hover */
}

/*이미지 스타일을 지정하는 코드*/
.image {
  width: 30px; /* 이미지의 폭을 30px로 설정 */
  height: 30px; /* 이미지의 높이를 30px로 설정 */
}
 .image:hover {
  background-color: #99ffcc; /* Change background color on hover */
  cursor: pointer; /* Change cursor style on hover */
}

.myimage{
  width: 70px; /* 이미지의 폭을 70px로 설정 */
  height: 70px; /* 이미지의 높이를 70px로 설정 */
}
/* 추가한 CSS 스타일 */
body {
  transition: background-color 1s;
}
.button-row {
  display: flex;
  align-items: center;
  gap: 10px; /* 버튼 사이의 간격을 조절하려면 여기서 설정 */
}

/*실험*/
/* .hidden 클래스는 초기에 숨깁니다. */
.hidden {
  display: none;
}

/* .vertical 클래스는 메뉴의 스타일을 정의합니다. */
.vertical.menu {
  position: fixed;
  top: 0;
  right: -250px; /* 오른쪽에 숨겨진 상태 */
  width: 250px; /* 메뉴의 폭 */
  height: 100%;
  background-color: #333; /* 메뉴의 배경 색상 */
  transition: right 0.3s; /* 오른쪽 위치 변경에 대한 전환 효과 */
}

/* 메뉴 항목 스타일링 (필요에 따라 수정 가능) */
.vertical.menu a {
  padding: 10px;
  display: block;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.vertical.menu a:hover {
  background-color: #555;
}

/* 메뉴 열기 버튼 스타일링 (필요에 따라 수정 가능) */
#menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; /* 메뉴 버튼을 최상위로 배치 */
}

#menu-button:hover {
  background-color: #99ffcc;
}
