
   li { list-style:none; }
  .picture { list-style:none; padding:0; margin:0; }
  .picture li { float:left; width:50%;}
  .picture li a {display:block; margin:5px; border: 1px }
  .picture li img { display:block; width:50%;  height:auto;}
  .picture li img:hover { display:block; width:100%;  height:auto;} 
